@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

body {
    background: white;
}

main {
    width: 60%;
    margin: 24px auto;
}

.container {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 64px;
}

.tab-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.image {
    display: block;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    aspect-ratio: 1;
    background: #e6e6e6;
    padding: 32px;
}

.image-cart {
    width: 120px;
}

h1 {
    font-size: 42px;
    font-weight: 500;
}

.title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 12px;
}

.cart-column .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}

.cart-column .buttons-row {
    justify-content: space-between;
}

.badge {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 16px
}

.description {
    font-size: 19px;
    margin-bottom: 16px;
    font-weight: 400;
}

.badge .description {
    font-size: 13px;
    color: #2626268c;
}

.card-button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color .2s linear;
}

a {
    text-decoration: none;
}

.card-button.primary {
    background: #d32031;
    color: white;
    padding: 16px 32px;
    border-radius: 12px;
}


.card-button.secondary {
    color: #262626C0;
}

.card-button.secondary:hover {
    color: #262626EC;
}

.digit {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 8px;
}

.description-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 36px;
    align-items: center;
}

.header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 20px;
    background: #ffffff;
    z-index: 10000;
    box-shadow: 0 1px 0 0 #e6e6e6;
}

.hero-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 24px;
}

.hero-row {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.cart > .buttons-row {
    margin-bottom: 32px;
}

.cart-badge {
    background: #428D3A;
    position: relative;
    display: block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    top: -40px;
    left: -10px;
    text-align: center;
    border-radius: 100%;
    color: white;
}

.cart {
    width: 24px;
    height: 24px;
    text-decoration: none;
    cursor: pointer;
}

.cart-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

hr {
    border-top: 1px #e6e6e6;
}

.search > input {
    width: 240px;
}

input {
    border-radius: 30px;
    border: 1px solid #e6e6e6;
    padding: 0 8px;
    height: 42px;
}

input:focus {
    outline: #d7d7d7;
    border-color: #d7d7d7;
}

.search-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.tab {
    align-items: center;
    background: rgba(38, 38, 38, .08);
    border-radius: 30px;
    color: #262626;
    display: flex;
    font-weight: 500;
    font-size: 19px;
    height: 24px;
    letter-spacing: -.3px;
    padding: 10px 16px;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
}

.tab:not(.tab-active):hover {
    background: rgba(38, 38, 38, .16);
}

.tab-active {
    background: #262626;
    color: #FFFFFF;
}

.border-gradient-green {
    border-top: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

a.title:hover {
    color: #0D8523;
}

.input-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}