<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Договоры</title>
</head>
<body>
{{template "header" .Cart}}
<main>
    <div class="search-row">
        <h1>Вклады и счета</h1>
        <form action="/contracts" method="get" class="search">
            <input type="text" name="query" placeholder="Поиск" value="{{ .Query }}">
        </form>
    </div>
    <div class="container">
        {{ if not .Contracts }} По вашему запросу ничего не найдено {{ end }}
        {{ $odd := false }}
        {{ $query := .Query }}
        {{ range $i, $contract := .Contracts }}
            {{ $odd = not $odd }}
            <div class="card">
                {{ if $odd }}
                    <img src="http://localhost:9000/main/{{ $contract.ImageId }}.png" class="image">
                {{ end }}
                <div class="description-column">
                    <h2 class="title">{{ $contract.Name }}</h2>
                    <p class="description">{{ $contract.Description }}</p>
                    <div class="badge">
                        <p class="digit">до {{ $contract.AnnualRate }}%</p>
                        <p class="description">ставка годовых</p>
                    </div>
                    <div class="buttons-row">
                        <a href="#" class="card-button primary disabled">Оформить</a>
                        <a href="/contracts/{{ $contract.Id }}?from=/contracts?query={{ $query }}"
                           class="card-button secondary">Подробнее
                            ›</a>
                    </div>
                </div>
                {{ if not $odd }}
                    <img src="http://localhost:9000/main/{{ $contract.ImageId }}.png" class="image">
                {{ end }}
            </div>
        {{ end }}
    </div>
</main>
</body>
</html>