<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Договоры</title>
</head>
<body>
<div class="header">
    <p>Банк</p>
</div>
<div class="space">
    <h1>Вклады и счета</h1>
    <div class="container">
        {{ range $contract := .contracts }}
            <div class="card">
                <div class="info">
                    <img src="{{ $contract.ImageUrl }}" class="image">
                </div>
                <div class="down">
                    <p class="title">{{ $contract.Name }}</p>
                    <p class="digit">{{ $contract.AnnualRate }}%</p>
                </div>
                <a href="/contracts/{{ $contract.Id }}" class="card-button">Подробнее</a>
            </div>
        {{ end }}
    </div>
</div>
</body>
</html>