<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Договоры</title>
</head>
<body>
<div class="space">
    <div class="header">{{ .contract.Name }}</div>
    <div class="container">
        <img src="{{ .contract.ImageUrl }}" class="image">
        <p class="title">{{ .contract.Name }}</p>
        <p class="short-description">{{ .contract.Description }}</p>
    </div>
    <div class="down">
        <p>{{ .contract.AnnualRate }}%</p>
    </div>
</div>
</body>
</html>