<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>{{ .Name }}</title>
</head>
<body>
{{template "header"}}
<main>
    <div class="hero-row">
        <img src="{{ .ImageUrl }}" class="image">
        <div class="hero-column">
            <h2 class="title">{{ .Name }}</h2>
            <p class="description">{{ .Description }}</p>
            <div class="badge">
                <p class="digit">{{ .Fee }} ₽</p>
                <p class="description">плата за обслуживание</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>