<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Договоры</title>
</head>
<body>
{{template "header" .Cart}}
<main>
    <div class="search-column">
        <div class="search-row">
            <h1>Договоры</h1>
            <a class="cart" href="/accounts/{{ .Account.Id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor"
                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-shopping-cart"
                >
                    <circle cx="8" cy="21" r="1"/>
                    <circle cx="19" cy="21" r="1"/>
                    <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/>
                    <span class="cart-badge">{{ .Account.Count }}</span>
                </svg>
            </a>
        </div>
        <div class="search-row">
            <div class="tab-row">
                <a href="/contracts?contractName={{.ContractNameFilter}}"
                   class="tab {{ if eq .ContractTypeFilter "" }}tab-active{{ end }}">Все</a>
                <a href="/contracts?contractName={{.ContractNameFilter}}&contractType=acquiring"
                   class="tab {{ if eq .ContractTypeFilter "acquiring" }}tab-active{{ end }}">Эквайринг</a>
                <a href="/contracts?contractName={{.ContractNameFilter}}&contractType=account"
                   class="tab {{ if eq .ContractTypeFilter "account" }}tab-active{{ end }}">Расчётные счёта</a>
            </div>
            <form action="/contracts" method="get" class="search">
                <input type="text" name="contractName" placeholder="Поиск" value="{{ .ContractNameFilter }}">
            </form>
        </div>
    </div>
    <div class="container">
        {{ if not .Contracts }} По вашему запросу ничего не найдено {{ end }}
        {{ $odd := false }}
        {{ $query := .Query }}
        {{ range $i, $contract := .Contracts }}
            {{ $odd = not $odd }}
            <div class="card">
                {{ if $odd }}
                    <img src="{{ $contract.ImageUrl }}" class="image">
                {{ end }}
                <div class="description-column">
                    <a href="/contracts/{{ $contract.Id }}" class="title">{{ $contract.Name }}</a>
                    <p class="description">{{ $contract.Description }}</p>
                    <div class="badge">
                        <p class="digit">{{ $contract.Fee }} ₽</p>
                        <p class="description">плата за обслуживание</p>
                    </div>
                    <a href="/contracts/{{ $contract.Id }}"
                       class="card-button secondary">Подробнее ›</a>
                </div>
                {{ if not $odd }}
                    <img src="{{ $contract.ImageUrl }}" class="image">
                {{ end }}
            </div>
        {{ end }}
    </div>
</main>
</body>
</html>